<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VS Tool</title>
</head>
<body>
<form method="post" action="/main/run/" enctype="multipart/form-data" >
    <input type="text" name="cutoff" placeholder="Energy Cutoff"><br/>
    <input type="text" name="rn" placeholder="Number of Important Residue"><br/>
    <input type="text" name="resd" placeholder="Residues Numbers in json"><br/>
    <input type="text" name="pn" placeholder="Protein Name"><br/>
    <input type="file" name="file" placeholder="Upload *.zip Containing Molecules and protein"><br/>
    <input type="submit" />
</form>
</body>
</html>